.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolom dengan lebar yang sama */
  grid-template-rows: repeat(3, 1fr); /* 3 baris dengan tinggi yang sama */
  grid-gap: 20px; /* Jarak antara elemen-elemen di dalam grid */
}

.car {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
.car-showroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.car-showroom-title {
  color: blue;
  text-align: center;
}
.car-showroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.car-showroom-title {
  color: blue;
  text-align: center;
  margin-top: 0;
}
